<!DOCTYPE html>
<html lang="en" ng-app="eisApp">
  <head>
    <title>EIS VILLAGE SERVER</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" / />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" / />
    <base href="/" />
  </head>
  <body>
    <div class="container">
      <div class="row" id="content">
          <div id="header">
            <div id="title">
              Bienvenue
            </div>
            <div id="subtitle">
              Village Server
            </div>
          </div>

          <div id="home">
            <a href="/#/"><i class="fa fa-home"></i></a>
          </div>

        <div class="col-xs-12">

            <div class="content" ng-view></div>
        </div
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </body>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/masonry.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular-route.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>
